# build output
dist/
.astro/
src-tauri/target/
src-tauri/gen/

# dependencies
node_modules/

# environment
.env
.env.*

# macOS
.DS_Store

# logs
npm-debug.log*

# The official Wortliste PDFs are copyrighted transcription sources — never committed.
docs/Goethe-Zertifikat_B1_Wortliste.pdf
